@charset "UTF-8";

.container{
  width: 80%;
  margin: 0 auto;
}

main{
  width: 80%;
  margin: 30px auto;
}

section{
  margin-bottom: 50px;
}

.result{
  display: flex;
  align-items: center;
  padding: 5px;
  font-size: 25px;
  background-color: rgb(230, 230, 230);
  border-bottom: 2px solid rgb(255, 208, 0);
}

h2{
  margin-bottom: 50px;
  padding: 5px;
  font-size: 25px;
  background-color: rgb(230, 230, 230);
  border-bottom: 2px solid rgb(0, 153, 255);
}

p{
  font-size: 20px;
}

.point{
  font-size: 25px;
  color: red;
}
.gap{
  margin-top: 10px;
}

h3{
  margin-bottom: 20px;
  padding: 5px;
  font-size: 25px;
  background-color: rgb(230, 230, 230);
  border-bottom: 2px solid rgb(255, 69, 69);
}